.dataset-title {
  color: var(--dataset-title);
  font-size: 1.5rem;
}

.anchor {
  color: var(--nav-link);
  text-decoration: none;
}

.anchor:hover {
  color: var(--dataset-link-hover);
}

.data-format {
  margin: 1rem 0;
}

.data-format-icon {
  width: 2.5em;
  height: 2.5em;
  vertical-align: baseline;
  margin: 0 auto;
  display: block;
  color: var(--icon);
}

.data-format-icon:hover {
  color: var(--icon-hover);
}

.data-format-text {
  font-size: .8rem;
  text-align: center;
  color: var(--icon);
}

.data-format-links a {
  align-self: baseline;
  margin-inline-end: 2rem;
  text-decoration: none;
  color: currentColor;
}

.data-format-links a:hover {
  background: unset;
  color: var(--dataset-link-hover);
}

.dataset-description {
  font-size: 1.35rem;
  line-height: 1.3;
}

.dataset-meta,
.dataset-additional-info p {
  font-size: 1rem;
}

.heading-additional-info  {
  font-family: var(--font-family-subheading);
  line-height: 1.3;
  font-size: 1rem;
}

.tag-list,
.data-format-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tag-list > * {
  margin-bottom: .75rem;
  margin-inline-end: .75rem;
  margin-top: .5rem;
}

.tag-list a {
  background: var(--tag-bg);
  color: var(--tag-text);
}

.tag-list a {
  font-size: .9rem;
  text-decoration: none;
  padding: .5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.2), 0 2px 2px -2px rgba(0, 0, 0, 0.05);
}

.tag-list a:hover {
  background: var(--tag-hover-bg);
  color: var(--tag-hover-text);
}

.tag-list a:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--tag-focus-border);
  background: var(--tag-focus-bg);
  color: var(--tag-focus-text);
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.1rem;
}

[dir="rtl"] .pagination svg
[dir="rtl"] .switch-icon {
  display: none;
}
