.grid-home {
	display: grid;
  grid-gap: .5rem;
	margin: 2rem auto 0 auto; /* Seeing if this works with clamp values for progressive enhancement */
  margin-top: clamp(.1rem, 2.5vw, 3rem);
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding: 0 .25rem;
}

@media (min-width: 52rem) {
	.grid-home {
		grid-template-columns: 45% 55%;
    padding: 0 1rem;
	}
}

.tagline {
  font-family: var(--font-family-heading);
  font-size: clamp(1.4rem, 2.5vw, 1.8rem);
  line-height: 1.35;
  color: var(--tagline-text);
	margin: 1.4rem 0 1.5rem .1rem; /* Seeing if this works with clamp values for progressive enhancement */
  margin-top: clamp(1.4rem, 2.5vw, 5.5rem);
  margin-bottom: clamp(1.5rem, 2.5vw, 3rem);
  padding-right: clamp(.1rem, 2.5vw, 1rem);
}

.home-cta {
  margin-bottom: 1.5rem;
}

.cta-primary {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  padding: .75rem 1rem;
  text-decoration: none;
  background: var(--cta-btn-bg);
  color: var(--cta-btn-text);
}

.cta-primary:hover {
  background: var(--cta-btn-hover-bg);
  color: var(--cta-btn-hover-text);
}

.dataset-random {
  padding: .5rem;
  background: var(--dataset-random-bg);
  color: var(--dataset-random-text);
  font-size: 1.2rem;
}
